<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Agent Pulse</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.paulfecto.AgentPulse.watchkitapp</string>
	<key>AgentPulseRemoteNotificationsEnabled</key>
	<true/>
	<key>WKApplication</key>
	<true/>
	<key>WKWatchOnly</key>
	<true/>
</dict>
</plist>
